.images-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.list-item {
  list-style-type: none
}
.list-item-image {
  width: 500px;
  /* height: 500px; */
  position: absolute;
}
.image-to-hide {
  z-index: -10;
}
.list-item-hide {
  visibility: hidden;
}