* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #171717;
    color: #ffbe00;
    font-size: 5vw;
    line-height: 1.3;
    overflow: hidden;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 1) 40%, rgba(20, 20, 20, 0) 100%);
}
.animation {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    overflow: visible;
}
.scroll-text {
    position: absolute;
    height: 100%;
    animation: scroll 100s linear infinite;
}
.main-text {
    text-align: center;
}
@keyframes scroll {
    0% {
        transform: rotateX(20deg) translateY(90rem);
    }
    100% {
        transform: rotateX(21deg) translateY(-1000rem);
    }
}
