body {
    background-image: url("images/background.png");
    background-size: cover;
}
.container {
    display: flex;
    width: 324px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.main-global-container {
    min-height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.header-content {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 15px 79px;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}
.header-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-registration {

}
.registration-colored {
    text-decoration: none;
    color: #fff;
}
.registration-colored:hover {
    color: #01813F;
}
.svg-colored {
    fill: #fff;
}
.svg-colored:hover {
    fill: #01813F;
}
.modal-window {
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
    padding: 30px 0 37px 0;
    position: relative;
}
.modal-window::before {
    content: "";
    background: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
}
.modal-window-header {
    justify-content: space-between;
    margin-bottom: 15px;
}
.modal-window-sign-up {
    color: #434343;
    font-size: 20px;
}
.modal-window-log-in {
    color: #3CB878;
    text-decoration: none;
    font-size: 14px;
}
.modal-window-log-in:hover {
    text-decoration: underline;
    color: #01813F;
}
.social-buttons {
    margin-bottom: 31px;
    justify-content: space-around;
}
.dividing-line {
    align-items: center;
    color: #848484;
    margin-bottom: 11px;
    justify-content: space-between;
}
.dividing-line::before,
.dividing-line::after {
    content: "";
    background: #F2F2F2;
    width: 152px;
    height: 1px;
}
.nav-menu {
    width: 120px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
.nav-menu::after {
    content: "";
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
.button {
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 15px;
}
.button:hover {
    cursor: pointer;
}
.button:focus {
    outline: none;
}
.button-F {
    background: #305DB8;
}
.button-F:hover {
    background: #022263;
}
.button-G {
    background: #DF4A32;
}
.button-G:hover {
    background: #AB1F09;
}
.facebook::before {
    content: "";
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    margin: 0 18px;
    padding: 5px 0;
}
.google::before {
    content: "";
    border-left: 1px solid #0A162F;
    opacity: 0.1;
    margin-right: 30px;
    margin-left: 7px;
    padding: 5px 0;
}
.input-styling {
    padding: 15px 20px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 100%;
}
.input-styling:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox-styling {
    color: #3CB878;
    text-decoration: none;
}
.checkbox-styling:hover {
    text-decoration: underline;
    color: #01813F;
}
.input-submit-styling {
    width: 100%;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    color: white;
    font-size: 16px;
    border: none;
    padding: 16px 99px;
}
.input-submit-styling:hover {
    background: #01813F;
}