body {
    padding: 0;
    margin: 0;
}
.container {
    width: 1160px;
    max-height: 995px;
}
.size1 {
    width: 33%;
}
.item-masonry img {
    /* width: 100%; */
    /* height: auto; */
}
.best-images-inside-content {
    /* position: relative; */
}
.best-images-rindve {
    /* position: absolute; */
}
.best-images-rectangle {
    /* position: absolute; */
}
.best-images-icon-search {
    position: absolute;
    padding: 8px 10px 10px 10px;
    background-color:  #14B9D5;
    top: 72px;
    right: 150px;
}
.best-images-icon-widen {
    position: absolute;
    padding: 8px 8px 9px 9px;
    background-color:  #14B9D5;
    top: 72px;
    right: 100px;
}
.best-images-children {
    width: 181px;
    height: 169px;
    position: absolute;
    right: 18px;
    z-index: -1;
}
/* .item {
    width: 33%;
    margin: 10px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.Vangalo {
    width: 378px;
    height: 263px;
}
.Royal {
    width: 378px;
    height: 263px;
}
.Stargaze {
    width: 378px;
    height: 290px;
}
.Sunrise {
    width: 378px;
    height: 380px;
}
.Sunset {
    width: 378px;
    height: 247px;
}
.Vangalo2 {
    width: 378px;
    height: 254px
}
.Glorious {
    width: 363px;
    height: 373px;
} */