.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.top-panel {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.top-menu {
    background-color:#313131;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.image-logo {
    padding: 22px 26px 21px 27px;
}
.navigation-menu-list {
    display: flex;
}
.navigation-menu-item {
    margin-right: 35px;
}
.navigation-menu-link {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.link-hover:hover {
    color: #14B9D5;
}
.image-search {
    padding: 26px;
    background: #000000;
}
.header-content {
    background-image: url("images/header-background.png");
    display: flex;
    justify-content: center;
    background-size: cover;
}
.header-content-main {
    color: white;
    margin-top: 164px;
    margin-bottom: 74px;
}
.header-content-text {
    font-size: 27px;
    line-height: 37px;
    text-align: center;
}
.header-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.header-buttons-style {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.header-buttons-subscribe {
    background: #89CA62;
    margin-right: 20px;
    padding: 17px 19px;
}
.header-buttons-articles {
    background: #14B9D5;
    padding: 17px 30px;
}
.content-wrapper {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.posts {
    padding-top: 49px;
    padding-bottom: 72px;
    color: #353A3D;
    background: #F2F2F2;
}
.section-name {
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    margin-bottom: 52px;
    text-transform: uppercase;
}
.image-container {
    display: flex;
    height: 830px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0 auto;
}
.image-text {
    margin-top: 20px;
}
.image {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    /*justify-content: space-between;*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background: white;
}
.image-stargaze {
    padding-bottom: 26px;
    margin-bottom: 28px;
}
.image-glorious {
    padding-bottom: 21px;
}
.image-sunrise {
    padding-bottom: 22px;
    margin-bottom: 32px;
}
.image-sunset {
    padding-bottom: 22px;
}
.image-vangalo {
    padding-bottom: 22px;
    margin-bottom: 31px;
}
.image-royal {
    padding-bottom: 23px;
}
.sponsors {
    background-image: url("images/parallax-bg.jpeg");
    background-size: cover;
    margin-bottom: 49px;
}
.sponsors-content {
    display: grid;
    justify-items: center;
    padding-top: 108px;
    padding-bottom: 191px;
}
.sponsors-text {
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    margin-bottom: 104px;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 87px;
    justify-items: center;
}
.sponsors-text::after{
    content: "";
    border-bottom: 3px solid #18B4CF;
    width: 60px;
}
.sponsors-labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.top-rated {
    padding-bottom: 48px;
}
.top-rated-images {
    display: grid;
    grid-auto-flow: column;
}
.top-rated-img {
    width: 100%;
}
.resorts {
    padding-bottom: 71px;
}
.resorts-description {
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
}
.resorts-description-filling {
    font-size: 14px;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    color: #5B6469;
    text-align: center;
}
.resorts-header {
    font-size: 18px;
    padding-top: 14px;
    color: #353A3D;
}
.resorts-header-center {
    font-size: 18px;
    padding-bottom: 15px;
    color: #353A3D;
}
.resorts-header-start-end {
    align-self: self-end;
    font-size: 18px;
    padding-bottom: 15px;
    color: #353A3D;
}
.img-width {
    width: 100%;
}
.img-height {
    height: 100%;
}
.line-height-text {
    line-height: 21px;
}
.resorts-prophecy {
    grid-column-start: 1;
    grid-column-end: 4;
}
.resorts-nebula {
}
.resorts-western {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.resorts-grand {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5
}
.resorts-wanderlust {
    grid-column-start: 1;
    grid-column-end: 3;
}
.resorts-sanctuary {
    grid-column-start: 3;
    grid-column-end: 5;
}
.resorts-prism {

}
.resorts-gabion {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
}
.resorts-start-end-description {
    display: grid;
    text-align: right;
    padding-left: 10px;
    padding-right: 24px;
}
.resorts-center-description {
    text-align: right;
    padding: 14px 13px 0 12px
}
.resorts-prophecy, .resorts-gabion {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.copyright {
    background: #000000;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px;
    align-items: center;
}
.copyright-paragraph {
    width: 512px;
    font-size: 13px;
    color: white;
    padding-left: 7vw;
}
.copyright-logo {
    width: 105px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}