/** {*/
/*    margin: 0;*/
/*}*/
/*#test {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-color: orange;*/
/*    position: absolute;*/
/*}*/

﻿body {
    margin: 0;
    background-color: brown;
}

.container {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 220px;
    background-color: brown;
    border: 4px solid black;
    background-image: url('../imgs/header.jpg');
    background-size: 100%;
    box-sizing: border-box;
}

#gif {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 50%;
}

.content {
    width: 100%;
    height: 1000px;
    border: 5px solid black;
    box-sizing: border-box;
}

#design1 {
    width: 1.9%;
    height: 100%;
    float: left;
    background-color: aqua;
    background-image: url('../imgs/border.jpg');
    background-size: 100%
}

#design2 {
    width: 1.9%;
    height: 100%;
    float: right;
    background-color: aqua;
    background-image: url('../imgs/border.jpg');
    background-size: 100%;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.form1 {
    width: 23.1%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
    border-right: 4px solid black;
    box-sizing: border-box;
    text-align: center;
}

#form1>input {
    clear: left;
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 100px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 12px;
}

#form1>input:hover {
    background-color: rgba(213, 22, 22, 0.35);
}

#form1>label {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#form1>input[type=submit] {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    border: 3px double black;
    border-radius: 25px;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

h1 {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-weight: 200;
    margin-left: 10%;
    letter-spacing: 3px;
}

.form1>h1 {
    margin-left: 0;
    text-align: center;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.form2 {
    width: 73.1%;
    height: 100%;
    background-color: whitesmoke;
    float: left;
    overflow: auto;
}

.checkbox>input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin-left: 30px;
    margin-top: 40px;
}

.food>input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

div>label {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 700;
}

.food {
    width: 750px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.46);
    border-radius: 20px;
    margin-left: 15px;
}

input[type=number] {
    width: 35px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    clear: left;
    display: inline-block;
    margin-left: 0;
    border-radius: 10px;
    border: 2px solid black;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.btn,
.vipBtn {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px;
    text-align: center;
    padding: 1px;
    background-color: ButtonFace;
}

#main {
    margin: 10px auto;
    border: 4px solid black;
    width: 380px;
    height: 220px;
    border-radius: 30px;
}

.div1 {
    width: 95%;
    height: 20px;
    margin: 0 auto;
}

.btn:nth-child(1),
.btn:nth-child(12) {
    margin-top: 30px;
}

.btn:nth-child(2),
.btn:nth-child(11) {
    margin-top: 25px;
}

.btn:nth-child(3),
.btn:nth-child(10) {
    margin-top: 20px;
}

.btn:nth-child(4),
.btn:nth-child(9) {
    margin-top: 15px;
}

.btn:nth-child(5),
.btn:nth-child(8) {
    margin-top: 10px;
}

.btn:nth-child(6),
.btn:nth-child(7) {
    margin-top: 5px;
}

#vip {
    width: 95%;
    margin: 0 auto;
}

.vip1:nth-of-type(1) {
    width: 60px;
    height: 20px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.vip1:nth-of-type(2) {
    width: 60px;
    height: 20px;
    float: left;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 15px;
}

.vip1:nth-of-type(4) {
    width: 60px;
    height: 20px;
    float: left;
    margin-left: 35px;
    margin-top: 15px;
}

#vip>div>button {
    background-color: red;
    border: 2px solid darkred;
    color: black;
    font-weight: 700;
}

#vip>div>button:hover {
    background-color: forestgreen;
    border: 2px solid black;
}

.btn:hover,
.vipBtn:hover {
    background-color: forestgreen;
    border: 2px solid black;
}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

input {
    outline: none;
}

.footer {
    height: 150px;
    background-image: url('../imgs/header.jpg');
    background-size: 100%;
    background-position-y: 150px;
}

#price {
    margin: 100px auto 20px auto;
    width: 450px;
    height: 60px;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    border-bottom: 3px solid black;
    letter-spacing: 3px;
    font-style: italic;
}

#bonus {
    width: 150px;
    height: 147px;
    position: relative;
    top: -160px;
    left: 280px;
    border-radius: 20px;
    border: 5px solid green;
}

#Nx {
    width: 70px;
    position: relative;
    left: 725px;
    top: -105px;
    text-align: center;
}

#textBonus {
    margin: 0 auto;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    width: 700px;
}

#info {
    border: 4px solid black;
    width: 280px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    top: 10px;
    left: 20px;
    float: left;
    padding: 10px;
    font-family: cursive;
    text-decoration: underline;
}

.infoBtn {
    margin-top: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: sans-serif;
}

.infoBtn:nth-of-type(1) {
    float: left;
}

#N2>.infoBtn {
    background-color: red;
    border: 2px solid darkred;
    color: black;
    font-weight: 700;
    clear: right;
    float: left;
}

button {
    outline: none;
}

.hidden {
    visibility: hidden;
}
