body {
    background-color: lightblue;
}
h1 {
    text-align: center;
}
#header2 {
    text-align: center;
    color: gray;
}
.right {
    text-align: right;
}
#header3 {
    text-align: center;
    color: #FF0000;
}

div {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

html {
    font-size: 16px;
}
div {
    font-size: 3rem;
    border: 1px solid black;
}
#top-div {
    font-size: 4rem;
    border: 1px solid red;
}

.banner {
    position: absolute;
    left: calc(40px);
    width: calc(100% - 80px);
    border: solid black 1px;
    box-shadow: 1px 2px;
    background-color: yellow;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,  sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,  caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,  footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 /*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
p {
    color: gray;
    background-color: lightblue;
    border: 15px outset blue;
    padding: 5px;
    margin: 3px;
}

p {
    width: auto;
    height: auto;
}

header, footer {
    background-color: blue;
    border: 10px solid darkblue;
    padding: 10px;
}
main {
    width: 75%;
    background-color: yellow;
    border: 30px solid olive;
    margin: 5px 0 10px 5px;
    padding: 10px;
}

