#price {
    outline: none;
    border: 1px solid gray;
    border-radius: 2px;
}
.btnStyle {
    width: '20px';
    height:'20px';
    border-radius: 50%;
    border: 1px solid gainsboro;
    background-color: "gold";
}
.validateDiv {
    color: red;
}
.validateInput {
    border: 2px solid red;
    color: red;
}
.goodDiv {
    color: black;
}
.goodInput {
    color: greenyellow;
}