ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #f8f8f8;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.test {
    background-color: #00f;
    color: #66CC00;
}

.tabs-title {
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    line-height: 39px;
    list-style-type: none;
    text-decoration: none;
    padding: 18px 34px;
}
li a {
    text-decoration: none;
}
/*.tabs-title.active {*/
/*    border: 1.5px solid #18CFAB;*/
/*    color: #FFFFFF;*/
/*}*/
.tabs-title:not(.tabs-tit-active.active):hover{
    border: 1.5px solid #18CFAB;
}
.tabs-title:not(.tabs-title.active):focus, .tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}
.tabs-content {
padding: 1rem;
}
.tabs-pane {
display: none;
}
.tabs-pane-show {
display: flex;
}
.services-description {
    font-size: 14px;
    line-height: 24px;
    margin-left: 15px;
    color: #777;
}
.image-size {
    width: 192px;
}