body {
    background: url("images/background-milan.png");
    background-size: cover;
}
.container {
    width: 1030px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 0 17px 0;
    padding-top: 46px;
}
.header-logo {
    display: flex;
    text-decoration: none;
}
.logo-img {
    margin-right: 8px;
}
.logo-text {
    font-size: 29px;
    color: white;
    display: flex;
    flex-direction: column;
}
.logo-text-decorate {
    font-size: 18px;
}
.header-logo:hover .logo-img {
    content: url("images/logo-milan2.png");
}
.header-logo:hover .logo-text {
    color: #F26522;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
}
.contact-link {
    text-decoration: none;
    color: white;
}
.contact-link:hover {
    color: #F26522;
}
.tours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    justify-items: center;
}
.tours-image {
    display: grid;
    justify-items: center;
    font-size: 18px;
    position: relative;
    margin-bottom: 37px;
    text-decoration: none;
    color: white;
}
.tours-name {
    margin-top: 20px;
}
.tours-image:hover .tours-name {
    color: #F26522;
}
.tours-image:hover .prices {
    display: flex;
    justify-content: space-between;
}
.prices {
    background: #F26522;
    position: absolute;
    bottom: 40px;
    width: 273px;
    display: none;
    align-items: flex-end;
    padding: 17px 14px 12px 16px;
}
.price-information {
    display: flex;
    flex-direction: column;
}
.prices-from {
    font-size: 10px;
    padding-bottom: 8px;
}
.prices-price {
    font-size: 20px;
}
.prices-details {
    font-size: 14px;
}
.prices-details::after {
    content: url("images/Vector-psevdo.png");
    margin-left: 16px;
}
.copyright {
    font-size: 12px;
    margin-top: 48px;
    margin-bottom: 15px;
    text-align: center;
}