body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.logo-link {
    display: block;
    font-size: 80px;
    color: black;
    line-height: 94px;
    text-decoration: none;
    margin-bottom: 38px;
}
.logo-colored {
    color: deepskyblue;
}
.navigation-header {
    background-color: #35444F;
    font-size: 24px;
}
.navigation-header-list {
    display: flex;
    justify-content: center;
}
.navigation-header-item {
    padding: 20px 35px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.navigation-header-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.aside-nav {
    width: 344px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-size: 27px;
    line-height: 27px;
}
.aside-nav-item {
    padding: 20px 25px;
    align-items: center;
    color: #495863;
    text-align: left;
    text-decoration: none;
}
.aside-nav-item:hover {
    background: #DBDBDB;
    color: black;
    padding-left: 50px;
}
.content {
    width: 885px;
}
.content-img-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 70px;
}
.content-img {
    width: 320px;
}
.content-text {
    margin-top: 40px;
}
.content-text-item {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 30px;
}
.page-bottom {
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-bottom-menu {
    padding: 20px;
}
.page-bottom-menu-item {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    margin-right: 20px;
}
.page-bottom-text {
    color: #010101;
    font-size: 28px;
}
.page-bottom-menu-item:hover {
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
}
