* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1145px;
    margin: 0;
}
/*.navbar {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.navbar-link {
    color: red;
    line-height: 25px;
}*/
/*OR*/
ul.hr {
    text-align: center;
}
.navigation-link {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}
ul.hr li {
    display: inline-block;
    margin: 0 36px;
}
.navigation {
    padding: 30px 0;
}
.main-text-image {
    width: 100%;
}
.main-text {
    text-align: center;
    margin: 0 auto;
    color: #373737;
}
.main-text-title {
    margin-top: 48px;
    font-size: 22px;
    margin-bottom: 38px;
}
.main-text-paragraph {
    line-height: 26px;
    margin-bottom: 28px; /*добавила отступ как на макете*/
}
.btn {
    margin-top: 38px; /*добавила отступ как на макете*/
    border: 0;
    font-size: 12px;
    line-height: 12px;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    letter-spacing: 2px;
    padding: 18px 30px;
    color: white;
}
.page-bottom {
    padding: 40px 0 30px; /*сделала как на макете */
}
.page-bottom-text {
    font-weight: bold;
    line-height: 20px;
    text-align: right;
}